body {
  width:100%;
  height:100%;
  margin: 0 2%;
}

#app {
  margin: 0 auto;
  width: 85%;
  padding: 0 5%;
}

#roche{
  background-image: url('http://bit.ly/2aMzQ3b');
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-size: cover;
}

.child {
  margin: 0 auto;
}

#landingPage {
  width: 100%;
  margin: 5% auto;
  padding-bottom: 2%;
}

#landingPage h1 {
  margin: 0 auto;
  text-align: center;
}

.joinRoom, .createRoom {
  margin: 2% auto;
}

#landingPage .divider {
  width: 25%;
  margin: 2% auto;
}

/*#jamroom{
  background-image: url('./JamRoomBG.gif');
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-size: cover;
}*/

#jamroom{
  /*background-image: url('./JamRoomBG.gif');*/
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-size: cover;
}

#userPiano{
  position: relative;
  top: 370px;
  left:280px;
  margin: 0 auto;

}

#userDrums{
  position: relative;
  top: 370px;
  left:450px;
  margin:auto;
}

.friendInstrument{
  border-style: solid;
  border-color: black;
  border-width: 5px 5px 10px 10px;
  display: inline-block;
}

#friendMesh{
  margin:auto;
  position: relative;
  left:280px;
}

#jamroom-nav {
  width: 100%;
  background-color: #00ccff;
}

.key{
  border-style: solid;
  border-color: black;
  border-width: 2px 2px 2px 1px;
  display: inline-block;
  background-color: white;
  height:250px;
  width:50px;
}

#user-instrument {
  position: absolute;
  top: 20%;
  left: 25%;
  margin: 0 auto;
}

#display-inst-name {
  position: absolute;
  /*top: 50%;*/
  left: 40%;
  /*transform: translate(0, -50%);*/
  margin: 0 auto;
  color: #2FD2DE;
  /*background-color: #696969;*/
  text-shadow: #2e2e2e 0 4px 5px;
}

@keyframes bounce {
  0% {
  transform:translateY(-100%);
  opacity: 0;
  }
  5% {
      transform:translateY(-100%);
      opacity: 0;
  }
  15% {
    transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
    transform:translateY(-50%);
  }
  40% {
    transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
    transform:translateY(-30%);
  }
  70% {
    transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
    transform:translateY(-15%);
  }
  90% {
    transform:translateY(0%);
    padding-bottom: 8px;
  }
  95% {
    transform:translateY(-7%);
  }
  97% {
    transform:translateY(0%);
    padding-bottom: 9px;
  }
  99% {
    transform:translateY(-3%);
  }
  100% {
    transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}

.peer-bar {
  position:absolute;
  bottom: 0;
  display:flex;
  justify-content: space-between;
  width: 100%;
}

#peer-name {
  position: relative;
  padding: 10px;
  padding-top: 35px;
  text-align: center;
  color: white;
  font-size: 200%;
}

#peer-bar1 {
  position: relative;
  background-color: #2FD2DE;
  width: 200px;
  height: 100px; /* as the half of the width */
  border-top-left-radius: 110px;  /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  border: 2px;
  border-color:#0066ff;
  /*border-bottom: 0;*/
  bottom: 0;
  border-style: solid;
  border-width: 4px;
  animation: bounce 1s;
}


#peer-bar2 {
  position: relative;
  background-color: #2FD2DE;
  width: 200px;
  height: 100px; /* as the half of the width */
  border-top-left-radius: 110px;  /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  border: 2px;
  border-color:#0066ff;
  /*border-bottom: 0;*/
  bottom: 0;
  border-style: solid;
  border-width: 4px;
  animation: bounce 1s;
}

#peer-bar3 {
  position: relative;
  background-color: #2FD2DE;
  /*height: 250px;
  width: 200px;
  border-radius: 100px;
  bottom: -760px;*/
  width: 200px;
  height: 100px; /* as the half of the width */
  border-top-left-radius: 110px;  /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  border: 2px;
  border-color:#0066ff;
  /*border-bottom: 0;*/
  bottom: 0;
  border-style: solid;
  border-width: 4px;
  animation: bounce 1s;
}

#peer-bar4 {
  position: relative;
  background-color: #2FD2DE;
  width: 200px;
  height: 100px; /* as the half of the width */
  border-top-left-radius: 110px;  /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  border: 2px;
  border-color:#0066ff;
  /*border-bottom: 0;*/
  bottom: 0;
  border-style: solid;
  border-width: 4px;
  animation: bounce 1s;
}


#selectInstrumentRoom{
  background-image: url("http://bit.ly/1zPhvmk");
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-size: cover;
}
#instLogo{
  position: absolute;
  top:5%;
  left:35%;
}


#pianoChoose{

  position: absolute;
  display:inline-block;
  top:37%;
  left:20%;
  opacity: 0.5;
}

#pianoChoose:hover{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}


#drumsChoose{
  position: absolute;
  display:inline-block;
  top:30%;
  left:50%;
  opacity: 0.5
}


#drumsChoose:hover{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#jamButton{
  position: absolute;
  top:80%;
  left:40%;
}

.blackKey{
  border-style: solid;
  border-color: white;
  border-width: 2px 2px 2px 1px;
  display: inline-block;
  background-color: black;
  height:150px;
  width:33px;
}

#thir{
 position: absolute;
  left:5.2%;
  top:-0.59%;
}

#fourt{
  position: absolute;
  left:13.7%;
  top:-0.59%;
}

#fift{
  position: absolute;
  left:30.7%;
  top:-0.59%;

}

#sixt{
  position: absolute;
  left:38.5%;
  top:-0.59%;
}

#sevent{
  position: absolute;
  left:47%;
  top:-0.59%;
}

#eight{
  position: absolute;
  left:64%;
  top:-0.59%;
}

#ninet{
  position: absolute;
  left:72%;
  top:-0.59%;
}

#twenty{
  position: absolute;
  left:89%;
  top:-0.59%;
}

#pianoInst{
  position: absolute;
  color:red;
  background-color: red;
 left:20%;
}


/*DRUMS!!!*/


#urC{
 position:absolute;
 border-radius:100%;
 background-color: none;
 width:142px;
 height:142px;
 border:0.0001px solid transparent;
 top:8%;
 left:14%;

}
#nextC{
 position:absolute;
 border-radius:100%;
 background-color: none;
 width:95px;
 height:95px;
 border:0.0001px solid transparent;
 top:44%;
 left:13%;
}

#brDrum{
position:absolute;
 border-radius:100%;
 background-color: none;
 width:102px;
 height:102px;
 border:0.0001px solid transparent;
 top:61%;
 left:24%;
}


#rsDrum{
 position:absolute;
 border-radius:100%;
 background-color: none;
 width:63px;
 height:63px;
 border:0.0001px solid transparent;
 top:43%;
 left:36%;


}

#lsDrum{
 position:absolute;
 border-radius:100%;
 background-color: none;
 width:77px;
 height:77px;
 border:0.0001px solid transparent;
 top:41%;
 left:52%;
}

#tomDrum{
 position:absolute;
 border-radius:100%;
 background-color: none;
 width:135px;
 height:135px;
 border:0.0001px solid transparent;
 top:56%;
 left:62%;

}

#urCymbal{
 position:absolute;
 border-radius:100%;
 background-color: none;
 width:141px;
 height:141px;
 border:0.0001px solid transparent;
 top:18%;
 left:65.5%;
}

