#roche {
  background-image: url('http://bit.ly/2aMzQ3b');
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-size: cover;
}

#landingPage {
  position:absolute;
  height: 100%;
  width: 100%;
  background-image: url("https://thumbs.dreamstime.com/z/musical-background-6057899.jpg");
}

#landingPage h1 {
  margin: 0 auto;
  text-align: center;
}

.joinRoom, .createRoom {
  margin: 2% auto;
}

#landingPage .divider {
  width: 25%;
  margin: 2% auto;
}

#jamroom{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-size: cover;
}

#userPiano {
  position: relative;
  top: 370px;
  left:280px;
  margin: 0 auto;
}

#userDrums {
  position: relative;
  top: 370px;
  left:450px;
  margin:auto;
}

.friendInstrument {
  border-style: solid;
  border-color: black;
  border-width: 5px 5px 10px 10px;
  display: inline-block;
}

#friendMesh {
  margin:auto;
  position: relative;
  left:280px;
}

#jamroom-nav {
  width: 100%;
  background-color: #00ccff;
}

.key {
  border-style: solid;
  border-color: black;
  border-width: 2px 2px 2px 1px;
  display: inline-block;
  background-color: white;
  height:250px;
  width:50px;
}

#user-instrument {
  position: absolute;
  top: 20%;
  left: 25%;
  margin: 0 auto;
}

#display-inst-name {
  text-align: center;
  margin: 0 auto;
  color: #2FD2DE;
  text-shadow: #2e2e2e 0 4px 5px;
}

@keyframes bounce {
  0% {
  transform:translateY(-100%);
  opacity: 0;
  }
  5% {
      transform:translateY(-100%);
      opacity: 0;
  }
  15% {
    transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
    transform:translateY(-50%);
  }
  40% {
    transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
    transform:translateY(-30%);
  }
  70% {
    transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
    transform:translateY(-15%);
  }
  90% {
    transform:translateY(0%);
    padding-bottom: 8px;
  }
  95% {
    transform:translateY(-7%);
  }
  97% {
    transform:translateY(0%);
    padding-bottom: 9px;
  }
  99% {
    transform:translateY(-3%);
  }
  100% {
    transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}

.peer-bar {
  position:absolute;
  bottom: 0;
  display:flex;
  justify-content: space-between;
  width: 95%;
}

.peer {
  position: relative;
  width: 250px;
  height: auto;
  text-align: center;
}

.peer-name {
  color: white;
  position: absolute;
  bottom: 115px;
  left: 5px;
  width: 100%;
  font-size: x-large;
}

.jamroom-instrument {
  position: absolute;
  bottom: 60px;
  left: 5px;
}

#selectInstrumentRoom {
  background-image: url("http://bit.ly/1zPhvmk");
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-size: cover;
}

#instLogo {
  position: absolute;
  top:10%;
  left:35%;
}


#pianoChoose {
  position: absolute;
  display:inline-block;
  top:37%;
  left:20%;
  opacity: 0.5;
}

#pianoChoose:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

#drumsChoose {
  position: absolute;
  display:inline-block;
  top:30%;
  left:50%;
  opacity: 0.5
}

#drumsChoose:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#jamButton {
  position: absolute;
  top:80%;
  left:40%;
}

.blackKey{
  border-style: solid;
  border-color: white;
  border-width: 2px 2px 2px 1px;
  display: inline-block;
  background-color: black;
  height:150px;
  width:33px;
}

#thir {
 position: absolute;
  left:5.2%;
  top:-0.59%;
}

#fourt {
  position: absolute;
  left:13.7%;
  top:-0.59%;
}

#fift {
  position: absolute;
  left:30.7%;
  top:-0.59%;

}

#sixt {
  position: absolute;
  left:38.5%;
  top:-0.59%;
}

#sevent {
  position: absolute;
  left:47%;
  top:-0.59%;
}

#eight {
  position: absolute;
  left:64%;
  top:-0.59%;
}

#ninet {
  position: absolute;
  left:72%;
  top:-0.59%;
}

#twenty {
  position: absolute;
  left:89%;
  top:-0.59%;
}

#pianoInst {
  position: absolute;
  color:red;
  background-color: red;
 left:20%;
}

/*DRUMS!!!*/
#urC {
 position:absolute;
 border-radius:100%;
 background-color: none;
 width:142px;
 height:142px;
 border:0.0001px solid transparent;
 top:8%;
 left:14%;
}

#nextC {
 position:absolute;
 border-radius:100%;
 background-color: none;
 width:95px;
 height:95px;
 border:0.0001px solid transparent;
 top:44%;
 left:13%;
}

#brDrum {
 position:absolute;
 border-radius:100%;
 background-color: none;
 width:102px;
 height:102px;
 border:0.0001px solid transparent;
 top:61%;
 left:24%;
}

#rsDrum {
 position:absolute;
 border-radius:100%;
 background-color: none;
 width:63px;
 height:63px;
 border:0.0001px solid transparent;
 top:43%;
 left:36%;
}

#lsDrum {
 position:absolute;
 border-radius:100%;
 background-color: none;
 width:77px;
 height:77px;
 border:0.0001px solid transparent;
 top:41%;
 left:52%;
}

#tomDrum{
 position:absolute;
 border-radius:100%;
 background-color: none;
 width:135px;
 height:135px;
 border:0.0001px solid transparent;
 top:56%;
 left:62%;
}

#urCymbal{
 position:absolute;
 border-radius:100%;
 background-color: none;
 width:141px;
 height:141px;
 border:0.0001px solid transparent;
 top:18%;
 left:65.5%;
}

.instrument {
  opacity: 0.5
}

.selected {
  opacity: 1
}

#navBar {
  width:100%;
}

.navButtons {
  border-radius: 12%;
  background-color:white;
  color:#8D7965;
  font-weight:900;
  font-size:15px;
  top:0%;
  height: 100%
}

.navButtons:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.navButtons:focus {
  outline:none;
}

#logo {
  position:absolute;
  height:100%;
  width:64px;
  left:0%;
  -webkit-transition: height 1s, width 1s, left 1s,top 1s;
}

#logo:hover {
  height:100px;
  width:100px;
  left:1%;
  top:1%;
}


#lpButton {
font-size: 30px;
}


#callToAction {
  position:absolute;
  font-size: 45px;
  font-weight: bold ;
  top: 55%;
  left: 36%;
  font-family: Impact, Charcoal, sans-serif;
}

#introText {
  padding:7px;
  border-radius:20%;
  color:white;
  border:0.007px solid transparent;
  background-image:url('http://bit.ly/2b2ePzs');
  width:350px;
  position:absolute;
  font-size: 15px;
  font-weight: bold;
  size:20px;

}

#link-window {
  background-color: blue;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#UserMakeInstrumentRoom {
  position:absolute;
  top:30%;
  left:50%;
  text-align:center;
}

#selectKeys {
  position:absolute;
  top:30%;
  left:50%;
}

input:invalid {
  border: 1px solid red;
}

.child {
  margin: 0 auto;
  padding: 5%;
}

.beatSequencer {
  margin: 0 auto;
  padding: 1%;
  width: 80%;
}

.beatSequencer h2 {
  margin-top: 0;
}

.beatSequencer .controls {
  display: inline-block;
  width: 15%;
}

.sequence .muteButton, .sequence .editSequence, .sequence .removeSequence {
  display: inline-block;
  vertical-align: bottom;
}

.playStopButton {
  width: 10%;
}

.beatSequencer .sequence {
  height: 3rem;
}

.row {
  display: inline-block;
  height: 2rem;
  width: 85%;
  vertical-align: inherit;
}

#signupContent {
   position:absolute;
   top:30%;
   left:40%;
 }

#testPiano {
  position:relative;
  top:30%;
 }
 
 #loginContent {
  position:absolute;
  top:30%;
  left:40%;
 }

 #UserMakeInstrumentRoom {
  position:static;
  top:30%;
  left:50%;
 }


 #selectKeys {
  position:absolute;
  top:30%;
  left:50%;
 }

 #Welcome {
  position:absolute;
  color:white;
  left:20%;
  top: 35%;
  font-size: 20px;
}

.beatBox {
  height: 100%;
  width: 21%;
  border: 1px solid black;
  display: inline-block;
  margin: 0.25%;
}

.beatBox.selected {
  background-color: black;
}

#UOIInRoom {
  text-align:center;
}
