#roche{
background-image: url('./GregRoche.jpg');
 position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-size: cover;
}

#jamroom{
background-image: url('./JamRoomBG.gif');
 position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-size: cover;
}