html {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', 'Arial', 'sans-serif'
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

#app {
  width: 100%;
  height: 100%;
}

.child {
  height: 90%;
  margin: 0 auto;
}

.nav {
  width: 100%;
  height: 10%;
}

#landingPage {
  text-align: center;
  height: 100%;
  width: 100%;
  background: url(/assets/background_500.png) repeat center bottom;
}

.greeting {
  margin: 0 auto;
  text-align: center;
  color: #E18335;
  padding-top: 40px;
  padding-bottom: 6px;
  font-size: 32px;
}

#landingPage .divider {
  width: 60%;
  margin: 0 auto;
}

.green-room-divider {
  width: 60%;
  margin: 0 auto;
  color: #E18335;
}

.createRoom {
  margin: 2% auto;
  height: 60%;
  position: relative;
}

.lobby {
  width: 70%;
  margin: 0 auto;
  background: white;
  height: 100%;
}

.lobby-container {
  width: 100%;
  height: 100%;
  background: url(/assets/background_500.png) repeat center bottom;
}

.helpButton {
  height: 50px;
}

#jamroom{
  width: 100%;
  height: 100%;
}

#laser {
  text-align: center;
  width: 100%;
  height: 300px;
}

#userPiano {
  position: relative;
  margin: 0 auto;
}

#userDrums {
  position: relative;
  margin: auto;
  position: relative;
  margin: auto;
}

.friendInstrument {
  border-style: solid;
  border-color: black;
  border-width: 5px 5px 10px 10px;
  display: inline-block;
}

#friendMesh {
  margin:auto;
  position: relative;
  left:280px;
}

#jamroom-nav {
  width: 100%;
  background-color: #00ccff;
}

.key {
  border-style: solid;
  border-color: black;
  border-width: 2px 2px 2px 1px;
  display: inline-block;
  background-color: white;
  height:250px;
  width:50px;
}

#user-instrument {
  position: absolute;
  top: 20%;
  left: 25%;
  margin: 0 auto;
}

@keyframes bounce {
  0% {
  transform:translateY(-100%);
  opacity: 0;
  }
  5% {
      transform:translateY(-100%);
      opacity: 0;
  }
  15% {
    transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
    transform:translateY(-50%);
  }
  40% {
    transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
    transform:translateY(-30%);
  }
  70% {
    transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
    transform:translateY(-15%);
  }
  90% {
    transform:translateY(0%);
    padding-bottom: 8px;
  }
  95% {
    transform:translateY(-7%);
  }
  97% {
    transform:translateY(0%);
    padding-bottom: 9px;
  }
  99% {
    transform:translateY(-3%);
  }
  100% {
    transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}

.peer-bar {
  position:absolute;
  bottom: 0;
  display:flex;
  justify-content: space-between;
  width: 95%;
}

.peer {
  position: relative;
  width: 250px;
  height: auto;
  text-align: center;
}

.peer-name {
  color: white;
  position: absolute;
  bottom: 115px;
  left: 5px;
  width: 100%;
  font-size: x-large;
}

.jamroom-instrument {
  position: absolute;
  bottom: 60px;
  left: 5px;
}

#selectInstrumentRoom {
  background-image: url("http://bit.ly/1zPhvmk");
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-size: cover;
}

#instLogo {
  position: absolute;
  top:10%;
  left:35%;
}


#pianoChoose {
  position: absolute;
  display:inline-block;
  top:37%;
  left:20%;
  opacity: 0.5;
}

#pianoChoose:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

#drumsChoose {
  position: absolute;
  display:inline-block;
  top:30%;
  left:50%;
  opacity: 0.5
}

#drumsChoose:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#jamButton {
  position: absolute;
  top:80%;
  left:40%;
}

.blackKey{
  border-style: solid;
  border-color: white;
  border-width: 2px 2px 2px 1px;
  display: inline-block;
  background-color: black;
  height:150px;
  width:33px;
}

#thir {
 position: absolute;
 left:34px;
 top:-0.8%;
}

#fourt {
  position: absolute;
  left:87px;
  top:-0.8%;
}

#fift {
  position: absolute;
  left: 195px;
  top:-0.8%;
}

#sixt {
  position: absolute;
  left: 247px;
  top:-0.8%;
}

#sevent {
  position: absolute;
  left:300px;
  top:-0.8%;
}

#eight {
  position: absolute;
  left:408px;
  top:-0.8%;
}

#ninet {
  position: absolute;
 left:460px;
  top:-0.8%;
}

#twenty {
  position: absolute;
  
  top:-0.5%;
}

#pianoInst {
  position: absolute;
  color:red;
  background-color: red;
 left:20%;
}
.instrumentContainer {
   -webkit-box-align:center;
   -webkit-box-pack:center;
   display:-webkit-box;
 }

/*DRUMS!!!*/
#cs {
position: relative;
}

#urC {
  position: relative;
  border-radius: 100%;
  background-color: none;
  width: 142px;
  height: 142px;
  border: 0.001px solid transparent;
  top: -330px;
  left: 70px;
}

#kickDrum {
  position: relative;
  border-radius: 100%;
  background-color: none;
  width: 20px;
  height: 20px;
  border: solid transparent;
  top: -238px;
  left: 252px;
}

#nextC {
  position: absolute;
  border-radius: 100%;
  background-color: none;
  width: 95px;
  height: 95px;
  border: 0.001px solid transparent;
  top: 160px;
  left: 65px;
}

#brDrum {
  position: absolute;
  border-radius: 100%;
  background-color: none;
  width: 102px;
  height: 102px;
  border: 0.001px solid transparent;
  top: 220px;
  left: 117px;
}

#rsDrum {
  position: absolute;
  border-radius: 100%;
  background-color: none;
  width: 63px;
  height: 63px;
  border: 0.001px solid transparent;
  top: 155px;
  left: 178px;
}

#lsDrum {
  position: absolute;
  border-radius: 100%;
  background-color: none;
  width: 77px;
  height: 77px;
  border: 0.001px solid transparent;
  top: 147px;
  left: 256px;
}

#tomDrum{
  position: absolute;
  border-radius: 100%;
  background-color: none;
  width: 135px;
  height: 135px;
  border: 0.001px solid transparent;
  top: 200px;
  left: 305px;
}

#urCymbal{
  position: absolute;
  border-radius: 100%;
  background-color: none;
  width: 141px;
  height: 141px;
  border: 0.001px solid transparent;
  top: 67px;
  left: 323px;
}

.instrument {
  opacity: 0.5
}

.selected {
  opacity: 1
}

#navBar {
  width:100%;
}

.navButtons {
  border-radius: 12%;
  background-color:white;
  color:#8D7965;
  font-weight:900;
  font-size:15px;
  top:0%;
  height: 100%
}

.navButtons:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.navButtons:focus {
  outline:none;
}

#logo {
  position:absolute;
  height:100%;
  width:64px;
  left:0%;
  -webkit-transition: height 1s, width 1s, left 1s,top 1s;
}

#logo:hover {
  height:100px;
  width:100px;
  left:1%;
  top:1%;
}


#lpButton {
  font-size: 30px;
}

#introText {
  padding:7px;
  border-radius:20%;
  color:white;
  width:350px;
  position:absolute;
  font-size: 15px;
  font-weight: bold;
  size:20px;

}

#link-window {
  background-color: blue;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#UserMakeInstrumentRoom {
  position: static;
    top: 30%;
    left: 50%;
    margin: 0px;
    background: url(/assets/background_500.png) repeat center bottom;
}


#selectKeys {
  position:absolute;
  top:30%;
  left:50%;
}

input:invalid {
  border: 1px solid red;
}

.beatSequencer {
  margin: 0 auto;
  padding: 1%;
  width: 80%;
}

.beatSequencer h2 {
  margin-top: 0;
}

.beatSequencer .controls {
  display: inline-block;
  width: 15%;
}

.sequence .muteButton, .sequence .editSequence, .sequence .removeSequence {
  display: inline-block;
  vertical-align: bottom;
}

.playStopButton {
  width: 10%;
}

.beatSequencer .sequence {
  height: 3rem;
}

.row {
  display: inline-block;
  height: 2rem;
  width: 85%;
  vertical-align: inherit;
}

#signupContent {
   position:absolute;
   top:30%;
   left:40%;
 }

#testPiano {
  position:relative;
  top:30%;
 }
 
 #loginContent {
  position:absolute;
  top:30%;
  left:40%;
 }

 #UserMakeInstrumentRoom {
  position:static;
  top:30%;
  left:50%;
 }


 #selectKeys {
  position:absolute;
  top:30%;
  left:50%;
 }

 #Welcome {
  position:absolute;
  color:white;
  left:20%;
  top: 35%;
  font-size: 20px;
}

.beatBox {
  height: 100%;
  width: 21%;
  border: 1px solid black;
  display: inline-block;
  margin: 0.25%;
}

.beatBox.selected {
  background-color: black;
}

#UOIInRoom {
  text-align:center;
}


div#deleteKey {
    position: relative;
    left: 140px;
    top: -35px;
}

text#step3 {
  font-size: 150%;
  font-weight: bold;
}

.custom-inst-icon {
  position: absolute;
  width: 50%;
  margin: 0 auto;
  height: 50%;
  font-size: 1.4rem;
  color: white;
  bottom: 130px;
  left: 65px;
}
